# activation de la réécriture d'urls
Options +FollowSymlinks
RewriteEngine on


# pages principales
RewriteRule ^home$  index.php [L]
RewriteRule ^jeu$  index.php?page=jeu [L]
RewriteRule ^shop$  index.php?page=shop [L]
RewriteRule ^about$  index.php?page=about [L]
# back-office
RewriteRule ^admin$  index.php?page=admin [L]
RewriteRule ^dashboard$  index.php?page=dashboard [L]
RewriteRule ^gestionArticle$  index.php?page=gestionArticle [L]
RewriteRule ^gestionCategory$  index.php?page=gestionCategory [L]
RewriteRule ^gestionAuthor$  index.php?page=gestionAuthor [L]
RewriteRule ^gestionProduct$  index.php?page=gestionProduct [L]
#pages user
RewriteRule ^connexion$  index.php?page=connexion [L]
RewriteRule ^newUser$  index.php?page=newUser [L]


