/***************/
/****GENERAL****/
/***************/
body{
    background-color: black;
    box-sizing: border-box;
    display : flex;
    flex-direction: column;
    align-items: stretch;
}

main {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: 'Orbitron', sans-serif;
 /*font-family: 'Chakra Petch', sans-serif;
*/
}

h2, h1, h3 {
    font-family: 'Press Start 2P', cursive;
}

p {
    font-size:1em;
}

a {
    text-decoration: none;
}

/***************/
/****TABLEAU****/
/***************/

table {
    color: white;
}

/***************/
/*****FORMS*****/
/***************/
.login {
    width: 50%;
    padding: 2em;
    max-width: 15em;
    margin: 0 auto 6.25em;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background-color: rgba(0, 44, 0, 0.8);
    border-radius: 1em;
}

.login button {
    width: 100%;
    padding: 1em;
    border: none;
    background-color: #2ebf2a;
    border-radius: 1em;
}

.login p {
    font-size: 0.8em;
}

.login a {
    color: #2ebf2a;
}

input, 
textarea {
	border: 0.2em solid #2ebf2a;
	border-radius: 1em;
	margin-bottom: 2rem;
	background: #f2f2f2;
	width: 100%;
}

textarea {
	width: 50%;
	height: 13em;
}

/****************/
/*****HEADER*****/
/****************/
header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
}

nav a {
    color: white;
    transition: all 0.5s;
    
}

nav a:hover {
    color: #2ebf2a;
    
    
}

nav p {
    color: white;
    font-family: 'Orbitron', sans-serif;
}

.admin {
    display:flex;
    flex-direction: column;
    background-color: gray;
}


img {
    width: 13em;
}

/****************/
/*****ACCUEIL****/
/****************/

/*************BACKGROUNDS************/

.slide1 {
   background: url(../img/snake3.jpeg) center 0 no-repeat fixed;
   background-size: cover;
   background-position: 30% 80%;
}

.slide2 {
   background: url(../img/snake4.jpeg) center 0 no-repeat fixed;
   background-size: cover;
}

.slide3 {
   background: url(../img/snake2.jpeg) 50% 0% no-repeat fixed;
   background-size: cover;
}

/*************BANNER************/
.banner {
    width: 100%;
    height: 35em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*************ABOUT************/
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: left;
    background-size: cover;
    padding-top: 3em;
    padding-bottom: 10em;
    background-repeat: no-repeat;
}

/*************BLOG************/
.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}
article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
}

/*************SHOP************/
.shop {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/****************/
/*****FOOTER*****/
/****************/

footer {
    display: flex;
    justify-content: space-between;
    background-color: #2ebf2a;
    padding: 1em;
}

/****************/
/***SNAKE GAME***/
/****************/

/*************CANVAS************/
canvas{
     display: none;
     border-style: solid;
     border-width: 10px;
     border-color: #FFFFFF;
 }
 canvas:focus{
     outline: none;
 }
 
.wrap{
    margin-left: auto;
    margin-right: auto;
}
 
/*************SCORE************/
 .score{
     display: flex;
     align-content: space-between;
     width: 240px;
     font-size: 20px;
     color: #FFFFFF;
     text-align: right;
 }

/*************GAME OVER************/
#gameover{
    display: none;
    width: 340px;
    padding-top: 95px;
    padding-bottom: 95px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
    color: #FFF;
}
#gameover p{
    margin-top: 25px;
    font-size: 20px;
}
#gameover span {
    background-color: #FFFFFF;
    color: #000000;
}
#gameover a, #setting a, #menu a{
    display: block;
}
#gameover a, #setting a:hover, #menu a:hover{
    cursor: pointer;
}
#gameover a:hover::before, #setting a:hover::before,
#menu a:hover::before {
    content: ">";
    margin-right: 10px;
}

/*************MENU************/
#menu{
    display: block;
    width: 340px;
    padding-top: 95px;
    padding-bottom: 95px;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #FFF;
}
#menu h3{
    animation: logo-ani 1000ms linear infinite;
    margin-bottom: 30px;
    
}
#menu a{
    font-size: 30px;
}
@keyframes logo-ani{
   50%{transform: scale(1.3,1.3);}
  100%{transform: scale(1.0,1.0);}
}
@keyframes logo-ani{
   50%{transform: scale(1.3,1.3);}
  100%{transform: scale(1.0,1.0);}
}


/* Settings Screen Style */
#setting{
    display: none;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 85px;
    padding-bottom: 85px;
    font-size: 30px;
    color: #FFF;
    text-align: center;
}
#setting h4{
    margin-bottom: 15px;
}
#setting p{
    margin-top: 10px;
}
#setting input{
    display:none;
}
#setting label{
    cursor: pointer;
}
#setting input:checked + label{
    background-color: #FFF;
    color: #000;
}
 

/*   médiaquerries   */
/*   quand mon site est affiché sur une tablette et que je pars  d'un mobile first (min-width: 768px) */
/*   quand mon site est affiché sur une tablette et que je pars  d'un PC first (max-width: 1024px) */
@media screen and (min-width: 640px) {

main {
	width: 90%;
	margin: auto;
}

p {
  font-size:1.3em;
}

.blog {
    flex-direction: row;
    flex-wrap: wrap;
}

.blog article {
    width: 40%;
}

.shop {
    flex-direction: row;
    flex-wrap: wrap;
}

.shop article {
    width: 20%;
}


}

/*   quand mon site est affiché sur une tablette et que je pars  d'un mobile first (min-width: 768px) */
/*   quand mon site est affiché sur une smartphone et que je pars  d'un PC first (max-width: 768px) */

@media screen and (min-width: 1024px) {
    

article {
    width: 20%;
}
      
}